/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;  /** forcage des marge a 0 **/
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

body{   /* centre le contenu sur la page */
    display: flex;
    justify-content: center;
}

.main-container{
    width: 100%;
    max-width: 1440px; /* taille max de la page */
    margin: auto;
}

a {
    color: inherit;
    text-decoration: none;
}